#heading{
background:url('https://t3.ftcdn.net/jpg/03/15/34/90/360_F_315349043_6ohfFyx37AFusCKZtGQtJR0jqUxhb25Y.jpg');
color:transparent;
background-clip: text;
font-size: 200px;
text-align: center;
}